@font-face {
    font-family: 'circular';
    src: url(./fonts/CircularAir-Light.woff2) format('woff2');

    font-family: 'chartwell';
    src: url(./fonts/ChartwellBarsVertical.woff) format('woff');
}