$title-font: 'chartwell';
$text-font: 'circular', Arial, Halvetica, sans-serif;
$background-color: #262d41;
$golden-color: #f3ca72;
$font-color: #eeeeee;
$p-font-size: clamp(.8rem, 1.2vw, 1.3rem);
$contact-font-size: clamp(1.6rem, 1.8vw, 2rem);
$img-width-home: clamp(300px, 30vw, 600px);
$img-height-home: calc($img-width-home / 1.5);
$img-size-menu: clamp(100px, 30vw, 300px);
$contact-container-width: clamp(500px, 60vw, 1500px);
$contact-container-height: clamp(620px, 30vh, 800px);
$constant-button-width: clamp(75px, 10vw, 150px);
$input-width: clamp(200px, 17vw, 350px);
$border-radius: 5px;
$input-border-radius: 10px;

@mixin largeScreen {
    @media (min-width: 1400px) {
        @content
    }
}

%button-style {
    font-family: $title-font;
    font-size: 1.5rem;
    width: $constant-button-width;
    height: 42px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, 1, .30, 1);
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: $border-radius;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    color: $background-color;

    &:hover::after {
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: $golden-color;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}


@mixin animation ($delay, $duration, $animation, $direction, $fillmode: fowards) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
}