$title-font: 'chartwell';
$text-font: 'circular', Arial, Halvetica, sans-serif;
$background-color: #262d41;
$golden-color: #f3ca72;
$paragraph-color: rgb(238, 238, 238);
$font-size: clamp(1rem, 1.2vw, 1.6rem);
$img-size-range: clamp(300px, 30vw, 800px);