@use 'styles/abstracts' as *;


html {
    font-family: $text-font;
    color: $font-color;
}

body {
    background-color: $background-color;
}

.loadingScreen {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: $background-color;

    &__logoAnim {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: anim .9s infinite linear;
        scroll-behavior: none;
    }
}

#container {
    position: absolute;
    width: 100vw;
    height: auto;
}

.constant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px 0;
    gap: 20px;

    &__title {
        font-family: $title-font;
        font-size: 3.5rem;
        color: $golden-color;
        display: flex;
        gap: 10px;
    }

    &__buttons {
        display: flex;
        gap: 15px;

        button {
            @extend %button-style;
        }
    }

    * {
        flex: 0 0 auto;
    }

}