@use 'styles/abstracts' as *;

.menu {
    .main {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin: 30px 30px;
        gap: 70px;

        &-meal {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            height: 100%;

            &-about {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 420px;
                align-items: center;
            }

            h1 {
                font-family: 'chartwell';
                color: $golden-color;
            }

            img {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                height: $img-size-menu;
                border-radius: 5px;
                width: calc($img-size-menu * 1.5);
            }

            p {
                color: $paragraph-color;
                line-height: 1.4;
                font-size: $font-size;
            }

            /*             p:nth-of-type(1) {
                @include animation(calc(1 * .3s), 1s, fade-left, cubic-bezier(0.3, 1, 0.3, 1), forwards);
            }

            p:nth-of-type(2) {
                @include animation(calc(2 * .3s), 1s, fade-right, cubic-bezier(0.3, 1, 0.3, 1), forwards);
            } */

        }
    }
}