@font-face {
    font-family: 'circular';
    src: url(./fonts/CircularAir-Light.woff2) format('woff2');

    font-family: 'chartwell';
    src: url(fonts/ChartwellBarsVertical.woff) format('woff');
}

$title-font: 'charwell';
$text-font: 'circular', Arial, Halvetica, sans-serif;
$background-color: /* rgb(167, 208, 255) */ white;
$button-color: #598ade;
$golden-color: #f3ca72;

* {
    box-sizing: border-box;
    font-family: $text-font;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
}

#container {
    width: 100vw;
    height: 100vh;
}

.constant {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: 'chartwell';
        font-size: 3.5rem;
        color: $golden-color;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

iframe {
    width: 500px;
    height: 1000px;
}

%css-button-sliding-to-left--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, 1, .30, 1);
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid $button-color;
    color: $button-color;

    &:hover {
        color: #fff;
    }
    &:hover::after {
        width: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: $button-color;
    }
}

.constant button {
    @extend %css-button-sliding-to-left--sky;
}
