@font-face {
    font-family: 'circular';
    src: url(./fonts/CircularAir-Light.woff2);
}

$font-stack: 'circular', Arial, Halvetica, sans-serif;
$background-color: rgb(167, 208, 255);

* {
    box-sizing: border-box;
    font-family: $font-stack;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
}

#container {
    width: 100vw;
    height: 100vh;
}

.constant {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 3rem;
    }
}

iframe {
    width: 500px;
    height: 1000px;
}

