@use 'styles/abstracts' as *;


.contact {
    .main {
        display: flex;
        justify-content: center;
        padding-top: 15vh;

        &-container {
            display: flex;
            flex-flow: column;
            gap: 20px;
            width: $contact-container-width;
            height: $contact-container-height;
            background-color: $background-color;
            border-radius: $border-radius;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .divider {

                height: 2px;
                width: 90%;
                justify-self: center;
                background-color: $golden-color;
                border-radius: $border-radius;
                align-self: center;
            }

            &__gmapCanvas {
                overflow: hidden;
                background: none !important;
                height: 35%;
                width: 100%;
                border-radius: $border-radius $border-radius 0 0;
            }

            &-form {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-items: center;
                gap: 15px;
                color: $golden-color;
                font-family: $title-font;
                font-size: $contact-font-size;

                &-line {
                    display: flex;
                    flex-flow: column;
                    gap: 10px;

                    label,
                    input {
                        display: block;
                    }

                    label {
                        display: block;
                    }

                    input {
                        width: $input-width;
                        border: none;
                        border-radius: $input-border-radius;
                        padding: 5px;

                        &:hover {
                            outline: solid 2px $golden-color;
                            outline-offset: 3px;
                        }
                    }
                }

                .submit {
                    @extend %button-style;
                    border-radius: $input-border-radius;
                    width: $input-width;
                    grid-column: span 2;
                }

            }

            &-aboutUs {
                &-line {
                    &__icon {
                        width: 20px;
                    }
                }
            }
        }


        @include largeScreen {
            &-container {
                display: grid;
                grid-template-columns: 1.3fr auto 2px 1fr;
                gap: 50px;

                &__gmapCanvas {
                    height: 100%;
                    border-radius: $border-radius 0 0 $border-radius;
                }

                .divider {
                    height: 90%;
                    background-color: $golden-color;
                    border-radius: $border-radius;
                    align-self: center;
                }

                &-form {
                    display: grid;
                    justify-items: start;
                    gap: 0px;
                    grid-template-rows: repeat(5, 1fr);
                    grid-template-columns: 1fr;
                    align-items: center;

                    .submit {
                        grid-column: span 1;
                    }
                }
            }
        }
    }

}