@use 'styles/abstracts' as *;

@font-face {
    font-family: 'circular';
    src: url(./fonts/CircularAir-Light.woff2) format('woff2');

    font-family: 'chartwell';
    src: url(./fonts/ChartwellBarsVertical.woff) format('woff');
}


html {
    font-family: $text-font;
}

body {
    background-color: $background-color;
}

@include keyframes(fade-right) {
    from {
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@include keyframes(fade-left) {
    from {
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

#container {
    width: 100%;
    height: 100%;
}

.constant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px 0;
    gap: 10px;

    &__title {
        font-family: $title-font;
        font-size: 3.5rem;
        color: $golden-color;
        display: flex;
        gap: 10px;
    }

    &__buttons {
        display: flex;
        gap: 15px;

        .test {
            background-color: red;
            font-size: large
        }

        button {
            @extend %button-style;
        }
    }

    * {
        flex: 0 0 auto;
    }
}

%button-style {
    font-family: $title-font;
    font-size: 1.5rem;
    min-width: 130px;
    height: 42px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, 1, .30, 1);
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 6px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    color: $background-color;

    &:hover::after {
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: $golden-color;
    }
}


.main {
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 400px 1fr;
    align-items: center;
    margin: 30px 0;

    canvas {
        grid-row: 1/3;
    }

    &-contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        max-height: 1000px;
        align-items: center;
        text-align: start;
        margin: 0 30px;
        gap: 30px 30px;

        &__grape-fields,
        &__restaurant {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            max-width: $img-size-range;
            justify-self: center;
            border-radius: 5px;
            opacity: 0;
        }

        /* order variable is set via JS */
        &__grape-fields {
            @include animation(calc(0 * .3s), 1s, fade-right, cubic-bezier(0.3, 1, 0.3, 1), forwards);
        }

        &__restaurant {
            @include animation(calc(3 * .3s), 1s, fade-left, cubic-bezier(0.3, 1, 0.3, 1), forwards);
        }

        p:nth-of-type(1),
        p:nth-of-type(2) {
            color: $paragraph-color;
            line-height: 1.4;
            font-size: $font-size;
            opacity: 0;
        }

        p:nth-of-type(1) {
            @include animation(calc(1 * .3s), 1s, fade-left, cubic-bezier(0.3, 1, 0.3, 1), forwards);
        }

        p:nth-of-type(2) {
            @include animation(calc(2 * .3s), 1s, fade-right, cubic-bezier(0.3, 1, 0.3, 1), forwards);
        }

    }
}